/* CSS RESET: use box-sizing model; remove default margin & form typography
styles; set buttons to display block; set base (pre UA stylesheet) font size; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
button { display: block; cursor: pointer; }
:root{ font-size: 16px; }  /*chrome default*/
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
:root{
  /* --bgColor: hsl(204 85% 61%); */
  --rollImageWidth: 400px;
  --rollImageHeight: 300px;
  /* set below via JS to image index*/
  --imageIndex:0;
}

/* main CSS */
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  /*defined in place for practice*/
  background-color: var(--bgColor, hsl(34, 100%, 20%));
  h1 {
    text-align: center;
    margin: 1rem 0;
  }
}
.sliderFrame {
  height: var(--rollImageHeight);
  width: 500px;
  background-color: #aaa;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  .previous,.next {
    flex: 1 0 auto;
    display:flex;
    justify-content:center;
    align-items: center;
    border-style: none;
    cursor: pointer;
  }
  .imageRollHider {
    flex: none;
    overflow: hidden;
    height: var(--rollImageHeight);
    width: var(--rollImageWidth);
    position: relative; /* Parent must be positioned */
    /* border: 1px solid black; */
  }
  .imageRoll {
    position: absolute; /*to use left prop*/
    /*imageRoll position set by --imageIndex via js */
    left: calc( -1*var(--rollImageWidth)*var(--imageIndex) );
    background-color: #e5e5e5;
    display: flex;
  }
  .image {/* container for each image */
    height: var(--rollImageHeight);
    width: var(--rollImageWidth);
    background-color: orange;
  }
}




