/* CSS RESET: use box-sizing model; remove default margin & form typography
styles; set buttons to display block; set base (pre UA stylesheet) font size; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
button { display: block; cursor: pointer; }
:root{ font-size: 16px; }  /*chrome default*/
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
:root{
  /* --bgColor: hsl(204 85% 61%); */
}

/* main CSS */
body{
  /* height: 100vh; */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--bgColor, hsl(34, 100%, 31%)); /*defined in place*/
  h1 {
    text-align: center;
    margin: 1rem 0;
  }

  .carouselFrame {
    position: relative; /* Parent must be positioned */
    height: 300px; /* Updated height */
    width: 600px; /* Updated width */
    background-color: #aaa; /* Light grey background */
    margin: 0 auto;
  }

  .carouselWheel {
    position: absolute; /* Child is positioned absolutely */
    left: 50%; /* left edge at 50% of the parent's width */
    transform: translateX(-50%) scale(var(--scale-factor, 1)); /* Center using 50% child's width, set default scale value of 100% */
    height: 300px; /* Updated height */
    width: 400px; /* Updated width */
    background-color: #e5e5e5;
  }

  .larger {
    /* set --scale-factor to 150% */
    /* --scale-factor: 1.5; */
  }

}
